<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
	<contextName>SpiderCenter</contextName>
    <property name="LOG_HOME" value="/opt/apache-tomcat-7.0.57/logs" />  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{50} - %msg%n</pattern>   
        </encoder>
    </appender>
    <!-- <appender name="CLAWER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">   
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/clawer.%d{yyyy-MM-dd}.log</FileNamePattern> 
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level%logger{50} - %msg%n</pattern>   
        </encoder> 
    </appender> -->
	<appender name="PROXY_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">   
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <FileNamePattern>${LOG_HOME}/proxy.%d{yyyy-MM-dd}.log</FileNamePattern> 
	        <MaxHistory>10</MaxHistory>
	    </rollingPolicy>
	    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
	        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level%logger{50} - %msg%n</pattern>   
	    </encoder> 
	</appender>
	<appender name="HTTP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">   
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <FileNamePattern>${LOG_HOME}/http.%d{yyyy-MM-dd}.log</FileNamePattern> 
	        <MaxHistory>10</MaxHistory>
	    </rollingPolicy>
	    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
	        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level%logger{50} - %msg%n</pattern>   
	    </encoder> 
	</appender>
	<appender name="PUSH_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">   
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <FileNamePattern>${LOG_HOME}/push.%d{yyyy-MM-dd}.log</FileNamePattern> 
	        <MaxHistory>10</MaxHistory>
	    </rollingPolicy>
	    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
	        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level%logger{50} - %msg%n</pattern>   
	    </encoder> 
	</appender>
		<appender name="DataBase_log" class="ch.qos.logback.core.rolling.RollingFileAppender">   
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <FileNamePattern>${LOG_HOME}/database.%d{yyyy-MM-dd}.log</FileNamePattern> 
        <MaxHistory>10</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level%logger{50} - %msg%n</pattern>   
    </encoder> 
	</appender>
	
	<appender name="An_log" class="ch.qos.logback.core.rolling.RollingFileAppender">   
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <FileNamePattern>${LOG_HOME}/an.%d{yyyy-MM-dd}.log</FileNamePattern> 
        <MaxHistory>10</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level%logger{50} - %msg%n</pattern>   
    </encoder> 
	</appender>
	
	<appender name="Sou_log" class="ch.qos.logback.core.rolling.RollingFileAppender">   
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <FileNamePattern>${LOG_HOME}/sou.%d{yyyy-MM-dd}.log</FileNamePattern> 
        <MaxHistory>10</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level%logger{50} - %msg%n</pattern>   
    </encoder> 
	</appender>
	
	<appender name="Gan_log" class="ch.qos.logback.core.rolling.RollingFileAppender">   
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <FileNamePattern>${LOG_HOME}/gan.%d{yyyy-MM-dd}.log</FileNamePattern> 
        <MaxHistory>10</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level%logger{50} - %msg%n</pattern>   
    </encoder> 
	</appender>
	
	<appender name="Wu_log" class="ch.qos.logback.core.rolling.RollingFileAppender">   
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <FileNamePattern>${LOG_HOME}/wu.%d{yyyy-MM-dd}.log</FileNamePattern> 
        <MaxHistory>10</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level%logger{50} - %msg%n</pattern>   
    </encoder> 
	</appender>
	
	
    <logger name="GanLogger" level="INFO" additivity="false">
    	<appender-ref ref="Gan_Log" />
    </logger>
    <logger name="WuLogger" level="INFO" additivity="false">
    	<appender-ref ref="Wu_Log" />
    </logger>
    <logger name="SouLogger" level="INFO" additivity="false">
    	<appender-ref ref="Sou_Log" />
    </logger>
    <logger name="AnLogger" level="INFO" additivity="false">
    	<appender-ref ref="An_log" />
    </logger>
    
    <logger name="ProxyLogger" level="INFO" additivity="false">
    	<appender-ref ref="PROXY_LOG" />
    </logger>
       <logger name="HttpLogger" level="INFO" additivity="false">
    	<appender-ref ref="HTTP_LOG" />
    </logger>
       <logger name="PushLogger" level="INFO" additivity="false">
    	<appender-ref ref="PUSH_LOG" />
    </logger>
     <logger name="org.jdiy.core" level="INFO" additivity="false">
    	<appender-ref ref="DataBase_log" />
    </logger>
    <logger name="DataBaseLogger" level="INFO" additivity="false">
    	<appender-ref ref="DataBase_log" />
    </logger>
    <logger name="SystemLogger" level="INFO" additivity="false">
    	<appender-ref ref="STDOUT" />
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root> 
</configuration>